{%- set done = [] %}
{% for type, data in associations %}
  {%- for alias, details in data %}
    {%- if details.controller is not same as(_view.name) and details.controller not in done %}
      <li><?= $this->Html->link(
        __('List {{ alias|underscore|humanize }}'),
        ['controller' => '{{ details.controller }}', 'action' => 'index']) ?>
      </li>
      <li><?= $this->Html->link(
        __('New {{ alias|singularize|underscore|humanize }}'),
        ['controller' => '{{ details.controller }}', 'action' => 'add']) ?>
      </li>
      {{- "\n" }}
      {%- set done = done|merge([details.controller]) %}
    {%- endif %}
  {%- endfor %}
{% endfor %}