{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 * @author        Ronald Chaplin (http://www.github.com/t73biz)
 */
#}
<nav class="columns" id="actions-sidebar">
  <ul class="vertical side-nav menu">
    <li class="heading"><?= __('Actions') ?></li>
    <li><?= $this->Html->link(
      __('New {{ singularHumanName }}'),
      ['action' => 'add']) ?>
    </li>
    {% if 'view' in action %}
      <li><?= $this->Html->link(
        __('Edit {{ singularHumanName }}'),
        ['action' => 'edit', {{ pK|raw }}]) ?>
      </li>
    {% endif %}
    {% if 'edit' in action or 'view' in action %}
      <li><?= $this->Form->postLink(
        __('Delete'),
        ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}],
        ['confirm' => __('Are you sure you want to delete # {0}?',
        ${{ singularVar }}->{{ primaryKey[0] }})]
        )
        ?>
      </li>
    {% endif %}
    <li><?= $this->Html->link(
      __('List {{ pluralHumanName }}'),
      ['action' => 'index']) ?>
    </li>
    {{- "\n" }}
    {% element 'association_nav' %}
  </ul>
</nav>